:root {
    /*color*/
    --color-main: #020105;
    --color-background: #ffffff;
    --color-grey-1: #d9d9d9;
    --color-grey-2: #f5f5f5;
    --color-grey-3:#f3f4f9;
    --color-blue-1: #264fe1;
    --color-blue-2: #325aed;
    --color-blue-3: #2750e2;
    --color-blue-4: #2A6CE9;
    --color-green-1: #31ec5a;
    --color-hover-1: #EFEFEF;
    --color-hover-2: #133CCE;

    /*font*/
    --font-h1: 48px;
    --font-h1-small: 32px;
    --font-h1-little: 25px;
    --font-h2: 38px;
    --font-h2-small: 28px;
    --font-big: 22px;
    --font-main: 18px;
    --font-small: 16px;
    --font-little: 14px;
    --font-tiny: 12px;
    --font-wee: 11px;
}

/*layout*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Manrope';
    font-size: var(--font-main);
    background: var(--color-background);
    color: var(--color-main);
}

body.lock {
    overflow-y: hidden;
    z-index: 11;
}

h1 {
    font-weight: 800;
    font-size: var(--font-h1);
    line-height: 66px;
    margin: 0;
}

h2 {
    font-weight: 800;
    font-size: var(--font-h2);
    line-height: 52px;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: var(--font-big);
    line-height: 140%;
    margin: 0;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
}

.button {
    height: 75px;
    font-weight: 700;
    font-size: var(--font-main);
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button__blue {
    background: linear-gradient(92.69deg, #254EE0 0%, #456FFF 100%);
    border-radius: 8px;
    color: var(--color-background);
    text-decoration: none;
    margin-right: 40px;
}

.button__blue:hover {
    background: linear-gradient(92.69deg, #1B44D6 0%, #3B65F5 100%);
}

.button__blue_242 {
    width: 242px;
}

.button__blue_vivsible {
    opacity: 0;
    text-align: right;
    width: 172px;
    height: 50px;
}

.button__promo {
    margin: 0;
    width: 270px;
}

.button__whiter {
    background: var(--color-background);
    border-radius: 8px;
    color: var(--color-blue-3);
    text-decoration: none;
    margin-left: 40px;
    text-align: center;
}

.button__whiter:hover {
    color: var(--color-hover-2);
}

.button__whiter_black {
    color: var(--color-main);
    align-items: flex-start;
    text-align: left;
}

.button__whiter_small {
    font-weight: 500;
    font-size: var(--font-little);
    line-height: 19px;
}

.button__header {
    display: none;
}

.button__arrow {
    display: none;
}

.button__popup {
    width: 100%;
}

.input {
    padding: 27px 0 27px 22px;
    border: none;
    background-color: var(--color-grey-3);
    border-radius: 8px;
}

.input__promo {
    margin-right: 26px;
    width: 307px;
}

.input__promo::placeholder {
    font-size: var(--font-main);
    font-weight: 500;
    line-height: 25px;
    color: rgba(2, 1, 5, 0.6);;
}

.input__popup {
    width: 100%;
}

/*header*/
.header {
    padding: 36px 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.header__left {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__left:hover {
    opacity: 0.8;
}

.header__svg {
    margin-right: 25px;
}

.header__text {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-little);
    font-weight: 500;
    line-height: 19px;
    padding: 20px 0 20px 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.36);
}

.header__big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
}

.header__center {
    margin: 0 auto;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.header__roster {
    padding-left: 50px;
}

.header__roster:first-child {
    padding-left: 0px;
}

.header__link {
    font-weight: 600;
    font-size: var(--font-small);
    line-height: 22px;
    text-decoration: none;
    color: var(--color-main);
}

.header__link:hover {
    color: var(--color-hover-2);
}

.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header__time {
    font-weight: 500;
    font-size: var(--font-little);
    line-height: 19px;
}

.header__telephone {
    font-weight: 700;
    font-size: var(--font-main);
    line-height: 25px;
    color: var(--color-main);
    text-decoration: none;
    padding-top: 4px;
}

.header__telephone:hover {
    opacity: var(--color-hover-2);
}

.header__burger {
    display: none;
}

.header__cross {
    display: none;
}

/*screen*/
.screen {
    margin: 0 10px;
    position: relative;
    background: url('../img/background-S.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
    height: 800px;
    border-radius: 60px;
}

.screen__block {
    position: relative;
    padding: 140px 0 130px 130px;
    width: 50%;
    z-index: 10;
}

.screen__list {
    padding: 50px 0 75px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    z-index: 10;
}

.screen__advantages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.screen__text {
    padding-left: 18px;
    line-height: 140%;
}

.screen__text_bold {
    font-weight: 700;
}

.screen__box {
    position: relative;
    box-shadow: 0px 0px 42px rgba(149, 152, 163, 0.1);
    border-radius: 10px;
    background: var(--color-background);
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.screen__line {
    width: 1px;
    height: 75px;
    background: rgba(0, 0, 0, 0.16);
}

.screen__img {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}

.benefit {
    margin: 0 10px;
    padding-top: 80px;
}

.benfit__block {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.benefit__card {
    padding: 30px 25px;
    background-color: var(--color-grey-2);
    border-radius: 20px;
}

.benefit__number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(92.69deg, #254EE0 0%, #456FFF 100%);
    font-weight: 700;
    font-size: var(--font-big);
    line-height: 140%;
    color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit__title {
    padding-top: 18px;
    font-weight: 700;
    font-size: var(--font-big);
    line-height: 140%;
}

.benefit__subtitle {
    padding-top: 8px;
    font-weight: 500;
    font-size: var(--font-main);
    line-height: 140%;
}

.maintenance {
    margin: 0 10px;
    padding: 80px 0 170px 0;
}

.maintenance__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.maintenance__link {
    font-weight: 600;
    font-size: var(--font-main);
    line-height: 140%;
    color: var(--color-blue-2);
    text-decoration: none;
}

.maintenance__link:hover {
    color: var(--color-hover-2);
}

.maintenance__link_not {
    display: none;
}

.maintenance__block {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.maintenance__block_not {
    display: none;
}

.maintenance__card {
    padding: 40px 25px;
    background-color: var(--color-grey-2);
    border-radius: 20px;
    text-decoration: none;
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.maintenance__card:hover {
    background-color: var(--color-hover-1);
}

.maintenance__box {
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.maintenance__title {
    font-weight: 700;
    font-size: var(--font-big);
    line-height: 140%;
    padding-top: 40px;
}

.maintenance__subtitle {
    font-weight: 500;
    font-size: var(--font-main);
    line-height: 140%;
    padding-top: 8px;
}

.maintenance__price {
    margin-top: 50px;
    background-color: var(--color-grey-2);
    border-radius: 20px;
    padding: 42px 50px 58px 50px;
    display: none;
}

.maintenance__price_active {
    display: block;
}

.maintenance__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 44px;
}

.maintenance__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.maintenance__arrow {
    padding-right: 18px;
    cursor: pointer;
    opacity: 0.8;
}

.maintenance__white {
    padding: 30px 38px;
    background-color: var(--color-background);
    border-radius: 20px;
    width: 100%;
}

.maintenance__table {
    width: 100%;
    border-collapse: collapse 
}

.maintenance__thead {
    width: 100%;
}

.maintenance__tbody {
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
}

.maintenance__tbody:hover {
    box-shadow: 0px 0px 42px rgba(149, 152, 163, 0.1);
}

.maintenance__tbody:hover .button__blue_vivsible {
    opacity: 1;
}

.maintenance__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.maintenance__tr {
    margin-bottom: 16px;
}

.maintenance__th {
    font-size: var(--font-main);
    font-weight: 700;
    line-height: 140%;
    text-align: left;
}

.maintenance__td {
    font-size: var(--font-small);
    font-weight: 500;
    line-height: 140%;
}

.question {
    margin: 0 10px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__left {
    position: relative;
    padding: 84px 0 84px 138px;
    width: 50%;
}

.question__left::before {
    position: absolute;
    content: '';
    width: 99px;
    height: 99px;
    background: url('../img/telephone-green.png') no-repeat right;
    right: -200px;
    top: 30%;
    z-index: 10;
}

.question__text {
    padding: 22px 0 32px 0;
    font-weight: 500;
    line-height: 140%;
}

.question__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.question__right {
    position: relative;
    width: 50%;
    height: 450px;
    background: url('../img/background-M.png') no-repeat right;
}

.question__right::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 200px;
    width: 376px;
    height: 561px;
    background: url('../img/telephone-operator.png') no-repeat center;
}

.question__right::after {
    position: absolute;
    content: '';
    width: 76px;
    height: 76px;
    background: url('../img/camera-green.png');
    right: 100px;
    top: -38px;
    z-index: 10;
}

.question__сlouds {
    position: absolute;
    top: -44px;
    left: -100px;
    width: 410px;
    padding: 23px 31px;
    font-size: var(--font-little);
    font-weight: 500;
    line-height: 140%;
    background-color: var(--color-background);
    z-index: 20;
    border-radius: 100px 30px 0px 100px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 42px rgba(149, 152, 163, 0.1);
}

.promo {
    margin: 0 10px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.promo__left {
    position: relative;
    background: url('../img/background-L.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 450px;
    width: 790px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.promo__img {
    position: absolute;
    bottom: 0;
    right: 26px;
}

.promo__card {
    position: relative;
    padding: 50px 21px;
    border: 2px solid var(--color-blue-4);
    border-radius: 20px;
}

.promo__ad {
    font-weight: 500;
    font-size: var(--font-big);
    line-height: 114%;
    text-align: center;
    letter-spacing: 0.01em;
}

.promo__ad_bold {
    font-weight: bold;
}

.promo__asterisk {
    font-weight: 500;
    font-size: var(--font-little);
    line-height: 19px;
    color: rgba(2, 1, 5, 0.25);
    padding-left: 21px;
}

.promo__right {
    padding: 51px 112px 47px 88px;
}

.promo__list {
    padding: 22px 0 32px 20px;
}

.promo__text {
    font-weight: 500;
    font-size: var(--font-main);
    line-height: 140%;
}

.promo__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.promo__tiny {
    font-weight: 500;
    font-size: var(--font-tiny);
    line-height: 16px;
    color: rgba(2, 1, 5, 0.6);
    padding-top: 16px;
}

.promo__tiny_link {
    color: var(--color-blue-1);
}

.promo__tiny_link:hover {
    color: var(--color-hover-2);
}

.map {
    margin: 0 10px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.map__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.map__floating {
    display: none;
}

.map__top {
    margin: 26px 0;
    padding: 20px 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-background);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 42px rgba(149, 152, 163, 0.1);
    border-radius: 100px;
}

.map__address {
    font-weight: 500;
    font-size: var(--font-small);
    line-height: 140%;
    padding-left: 16px;
}

.map__center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 42px;
}

.map__list {
    margin-left: 30px;
}

.map__text {
    font-weight: 500;
    font-size: var(--font-small);
    line-height: 140%;
}

.map__right {
    border-radius: 20px;
    height: 100%;
}

.map__map {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.footer {
    background: rgba(2, 1, 5, 0.03);
    padding: 28px 0 23px 0;
}

.footer__text {
    font-weight: 500;
    font-size: var(--font-tiny);
    line-height: 140%;
    text-align: center;
    color: rgba(2, 1, 5, 0.35);
}

.footer__link {
    color: rgba(2, 1, 5, 0.35);
}

.footer__link:hover {
    color: var(--color-hover-2);
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: #00000060;
    opacity: 0;
    z-index: 100;
}

.popup_active {
    visibility: visible;
    opacity: 1;
}

.popup__dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--color-background);
    padding: 35px 45px;
    border-radius: 20px;
    width: 696px;
    height: auto;
}

.popup__dialog_big {
    width: 90vw;
    height: 90vh;
}

.popup__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.popup__text {
    font-weight: 500;
    font-size: var(--font-big);
    line-height: 140%;
    text-align: center;
    padding-top: 16px;
}

.popup__cross {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 35px;
    height: 35px;
}

.popup__svg {
    width: 35px;
    height: 35px;
}

.popup__middle {
    padding-bottom: 20px;
    width: 100%;
}

.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.popup__box {
    width: 100%;
    padding-top: 20px;
}

.popup__tiny {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.popup__bottom {
    width: 100%;
}

.popup__bottom_super {
    padding-top: 50px;
}

.popup__bottom_text {
    flex-grow: 1;
    overflow: auto;
}

.popup__link {
    color: var(--main-brand-color);
}

.popup__title {
    font-weight: 600;
    font-size: var(--font-small);
}

.popup__subtitle {
    font-size: var(--font-little);
}

@media screen and (max-width: 1368px){
    h1 {
        font-size: var(--font-h1-small);
        line-height: 44px;
    }

    h2 {
        font-size: var(--font-h2-small);
        line-height: 38px;
    }

    .button {
        height: 58px;
        font-size: var(--font-small);
        line-height: 22px;
        width: 275px;
    }
    
    .button__blue {
        margin-right: 20px;
    }

    .button__blue_242 {
        margin-right: 0;
        width: 100%;
    }
    
    .button__whiter {
        margin-left: 20px;
        width: 200px;
    }

    .button__promo {
        width: 80%;
        margin: 0;
    }

    .input {
        padding: 18px 0 18px 22px;
    }

    .input__promo {
        margin: 0 0 16px 0;
        width: 80%;
    }

    .input__promo::placeholder {
        font-size: var(--font-small);
    }

    .header {
        padding: 26px 0;
        margin: 0 42px;
    }
    
    .header__svg {
        margin-right: 15px;
    }
    
    .header__text {
        padding: 0 0 0 15px;
        width: 130px;
    }

    .header__roster {
        padding-left: 40px;
    }
    
    .header__link {
        font-size: var(--font-little);
        line-height: 19px;
    }
    
    .header__time {
        font-size: var(--font-tiny);
        line-height: 16px;
    }
    
    .header__telephone {
        font-size: var(--font-small);
        line-height: 22px;
        padding-top: 2px;
    }

    .screen {
        background: url('../img/background-S-1.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
        height: 464px;
        border-radius: 20px;
        margin: 0 42px;
    }
    
    .screen__block {
        padding: 52px 0 52px 40px;
        width: 52%;
    }
    
    .screen__list {
        position: relative;
        padding: 20px 0 35px 0;
        gap: 30px;
        z-index: 10;
    }
    
    .screen__text {
        font-size: var(--font-small);
        padding-left: 16px;
    }
    
    .screen__box {
        padding: 12px;
    }
    
    .screen__line {
        height: 58px;
    }
    
    .screen__img {
        top: 10px;
    }

    .benefit {
        padding-top: 40px;
        margin: 0 42px;
    }
    
    .benfit__block {
        padding-top: 25px;
        gap: 20px;
    }
    
    .benefit__card {
        padding: 20px;
    }
    
    .benefit__number {
        font-size: var(--font-main);
    }
    
    .benefit__title {
        padding-top: 16px;
        font-size: var(--font-main);
    }
    
    .benefit__subtitle {
        font-size: var(--font-small);
    }

    .maintenance {
        padding: 40px 0 80px 0;
        margin: 0 42px;
    }
    
    .maintenance__link {
        display: none;
    }
    
    .maintenance__block {
        padding-top: 25px;
        gap: 20px;
    }
    
    .maintenance__card {
        padding: 25px 6px;
    }
    
    .maintenance__card:hover {
        background-color: var(--color-hover-1);
    }
    
    .maintenance__box {
        height: 89px;
    }
    
    .maintenance__title {
        font-size: var(--font-main);
        line-height: 130%;
        padding-top: 20px;
    }
    
    .maintenance__subtitle {
        font-size: var(--font-small);
    }
    .question {
        margin: 0 42px;
        width: auto;
    }

    .question__left {
        padding: 66px 0 66px 40px;
        width: 57%;
    }

    .question__left::before {
        width: 70px;
        height: 70px;
        background: url('../img/telephone-green-m.png') no-repeat right;
        right: -50px;
        top: 30%;
    }

    .question__text {
        padding: 16px 0 24px 0;
        font-size: var(--font-small);
    }

    .question__box {
        width: 92%;
    }

    .question__right {
        height: 350px;
        background: url('../img/background-M-m.png') no-repeat right;
        width: 43%;
    }

    .question__right::before {
        right: 70px;
        width: 261px;
        height: 392px;
        background: url('../img/telephone-operator-m.png') no-repeat center;
    }

    .question__right::after {
        width: 54px;
        height: 54px;
        background: url('../img/camera-green-m.png');
        right: 26px;
        top: 26px;
    }

    .question__сlouds {
        display: none;
    }

    .promo {
        margin: 50px 24px 0 24px;
    }

    .promo__left {
        position: relative;
        background: url('../img/background-L-m.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
        background-repeat: no-repeat;
        height: 366px;
        width: 460px;
        padding: 0;
        z-index: 10;
    }

    .promo__img {
        z-index: 10;
    }

    .promo__top {
        display: none;
    }

    .promo__card {
        position: absolute;
        bottom: -74px;
        padding: 25px 0;
        border-top: none;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .promo__ad {
        font-size: var(--font-main);
    }

    .promo__asterisk {
        display: none;
    }

    .promo__right {
        padding: 49px 60px 49px 40px;
    }

    .promo__list {
        padding: 16px 0 24px 20px;
    }

    .promo__text {
        font-size: var(--font-small);
    }

    .promo__form {
        flex-direction: column;
        align-items: flex-start;
    }

    .promo__tiny {
        padding-top: 12px;
    }

    .map {
        padding: 80px 0;
        margin: 0 42px;
    }

    .map__left {
        padding-right: 20px;
    }

    .map__floating {
        display: block;
        padding-top: 16px;
        font-weight: 500;
        font-size: var(--font-small);
        line-height: 140%;
        width: 80%;
    }

    .map__top {
        margin: 24px 0;
        padding: 0;
        background-color: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0;
        width: 80%;
    }

    .map__address {
        font-weight: 500;
        font-size: var(--font-small);
        line-height: 140%;
        padding-left: 16px;
    }

    .map__center {
        flex-direction: column;
        padding-bottom: 24px;
    }

    .map__list {
        margin-left: 30px;
    }

    .map__bottom {
        width: 100%;
    }

    .map__right {
        width: 540px;
        height: 380px;
    }

    .footer {
        
        padding: 26px 0;
    }

    .footer__text {
        margin: 0 42px;
    }
}

@media screen and (max-width: 1024px) {
    .header__roster {
        padding-left: 10px;
    }

    .promo__right {
        padding: 30px 60px 30px 40px;
    }
}

@media screen and (max-width: 972px) {
    .screen {
        position: relative;
        background: url('../img/background-S-s.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
        height: 464px;
        margin: 0 16px 192px 16px;
    }
    
    .screen__block {
        padding: 35px 4px 35px 29px;
        width: 100%;
    }
    
    .screen__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: auto;
        scrollbar-width: thin;
    }

    .screen__list::-webkit-scrollbar {
        display: none;
    }
    
    .screen__text {
        width: 150px;
    }
    
    .screen__box {
        position: absolute;
        bottom: -380px;
        left: 0;
        right: 0;
        flex-direction: column;
        box-shadow: none;
    }
    
    .screen__line {
        display: none;
    }
    
    .screen__img {
        top: auto;
        bottom: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 955px) {
    .button {
        width: 100%;
    }
    
    .button__blue {
        margin: 0 0 16px 0;
    }

    .button__blue_242 {
        margin-right: 0;
        width: 100%;
    }
    
    .button__whiter {
        margin: 0;
    }

    .button__whiter_black {
        align-items: center;
    }

    .button__promo {
        width: 100%;
        margin: 0;
    }

    .input {
        padding: 18px 0 18px 22px;
    }

    .input__promo {
        margin: 0 0 12px 0;
        width: 100%;
    }

    .promo {
        margin: 0 16px;
        flex-direction: column-reverse;
        border: none;
    }

    .promo__left {
        position: relative;
        background: url('../img/background-L-s.png'), linear-gradient(90deg, #EDECFF 0%, #B8B5C9 100.77%);
        background-repeat: no-repeat;
        background-position: right;
        height: 320px;
        width: 100%;
        padding: 0;
        z-index: 10;
        margin-bottom: 300px;
    }

    .promo__img {
        z-index: 10;
    }

    .promo__top {
        display: none;
    }

    .promo__card {
        bottom: -80%;
        padding: 20px 0;
        border-top: 2px solid var(--color-blue-4);
        width: 100%;
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .promo__ad {
        font-size: var(--font-main);
    }

    .promo__asterisk {
        display: none;
    }

    .promo__right {
        padding: 0;
    }

    .promo__list {
        padding: 16px 0 24px 20px;
    }

    .promo__text {
        font-size: var(--font-small);
    }

    .promo__form {
        position: absolute;
        bottom: 18%;
        left: 0;
        width: 100%;
    }

    .promo__tiny {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header__link {
        font-size: var(--font-tiny);
    }

    .header__telephone {
        font-size: var(--font-tiny);
    }
}

@media screen and (max-width: 720px){
    h1 {
        font-size: var(--font-h1-little);
        line-height: 34px;
    }

    h2 {
        font-size: var(--font-big);
        line-height: 30px;
    }

    h3 {
        font-size: var(--font-small);
        line-height: 140%;
    }

    .container {
        min-width: 343px;
    }

    .button__header {
        display: flex;
        width: 100%;
    }

    .button__blue_vivsible {
        display: none;
    }

    .button__arrow {
        display: block;
    }

    .input__promo::placeholder {
        font-size: var(--font-small);
    }

    .input__popup {
        padding: 18px 17px;
    }

    .input__popup::placeholder {
        font-size: var(--font-small);
    }

    textarea::placeholder {
        font-size: var(--font-small);
    }

    .header {
        position: relative;
        padding: 20px 16px 20px 16px;
        background: var(--color-background);
        margin: 0;
    }

    .header__big {
        display: none;
    }

    .header__big_active {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: -328px;
        left: 0;
        z-index: 20;
        background-color: var(--color-background);
        width: 100vw;
        border-radius: 0px 0px 10px 10px;
    }

    .header__list {
        flex-direction: column;
    }

    .header__roster {
        padding: 0 0 24px 0;
    }

    .header__link {
        font-weight: 600;
        font-size: var(--font-small);
        line-height: 22px;
    }

    .header__right {
        width: 90vw;
        align-items: center;
    }

    .header__burger {
        display: block;
    }

    .header__burger_not-active {
        display: none;
    }

    .header__cross_active {
        display: block;
    }

    .header__time {
        font-size: var(--font-little);
    }

    .header__telephone {
        font-size: var(--font-main);
        padding-bottom: 31px;
    }

    .benefit {
        padding-top: 0;
        margin: 0 16px;
    }
    
    .benfit__block {
        grid-template-columns: 1fr;
    }
    
    .benefit__card {
        padding: 20px;
    }
    
    .benefit__number {
        width: 32px;
        height: 32px;
    }

    .maintenance {
        padding: 50px 0;
        margin: 0 16px;
    }
    
    .maintenance__link {
        display: none;
    }
    
    .maintenance__block {
        padding-top: 20px;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }

    .maintenance__box {
        height: 69px;
    }
    
    .maintenance__title {
        font-size: var(--font-small);
        line-height: 140%;
        text-align: center;
    }

    .maintenance__main {
        padding-bottom: 31px;
    }

    .maintenance__price {
        background-color: var(--color-background);
        padding: 0;
    }

    .maintenance__table {
        padding: 0;
    }

    .maintenance__th {
        font-size: var(--font-small);
        padding: 12px 20px;
    }

    .maintenance__td {
        font-size: var(--font-little);
        padding: 12px 20px;
    }

    .maintenance__td:first-child {
        border-radius: 8px 0 0 8px;
    }

    .maintenance__td:last-child {
        border-radius: 0 8px 8px 0 !important;
    }

    .maintenance__tbody_grey {
        background-color: var(--color-grey-3);
    }

    .maintenance__button {
        justify-content: center;
    }

    .question {
        flex-direction: column;
        margin: 0 16px;
        border: none;
        border-radius: 0;
    }

    .question__left {
        padding: 0;
        width: 100%;
    }

    .question__left::before {
        width: 64px;
        height: 64px;
        background: url('../img/telephone-green-s.png') no-repeat right;
        right: auto;
        left: 40px;
        top: auto;
        bottom: -40%;
    }

    .question__text {
        padding: 16px 0 122px 0;
        font-size: var(--font-small);
    }

    .question__box {
        position: absolute;
        bottom: -194%;
        left: 0;
        flex-direction: column;
        width: 100%;
    }

    .question__right {
        height: 320px;
        background: url('../img/background-M-s.png') no-repeat center;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 207px;
    }

    .question__right::before {
        width: 224px;
        height: 334px;
        background: url('../img/telephone-operator-s.png') no-repeat center;
    }

    .question__right::after {
        width: 44px;
        height: 44px;
        background: url('../img/camera-green-s.png');
        right: -10px;
    }

    .question__сlouds {
        display: block;
        top: -114px;
        left: 0;
        font-size: var(--font-tiny);
        width: 343px;
        padding: 18px 23px;
    }

    .map {
        padding: 0 0 50px 0;
        margin: 0 16px;
        flex-direction: column;
    }

    .map__left {
        padding-right: 0;
        width: 100%;
    }

    .map__floating {
        display: none
    }

    .map__top {
        margin: 30px 0;
        width: 100%;
    }

    .map__address {
        font-weight: 500;
        font-size: var(--font-small);
        line-height: 140%;
        padding-left: 16px;
    }

    .map__center {
        position: absolute;
        bottom: 5.5%;
        left: 0;
    }

    .map__list {
        margin-left: 30px;
    }

    .map__bottom {
        position: absolute;
        bottom: 4%;
        left: 0;
        margin: 0 16px;
        width: 92%;
    }

    .map__right {
        width: 100%;
        height: 100%;
        margin-bottom: 214px;
    }

    .footer {
        padding: 30px 0;
    }

    .footer__text {
        font-size: var(--font-wee);
        margin: 0 16px;
    }

    .popup__dialog {
        width: 343px;
        padding: 20px;
    }

    .popup__dialog_big {
        width: 90vw;
        height: 90vh;
    }

    .popup__heading {
        text-align: center;
    }

    .popup__text {
        font-size: var(--font-small);
    }

    .popup__middle {
        padding-bottom: 12px;
    }

    .popup__box {
        padding-top: 12px;
    }

    .popup__bottom_super {
        padding-top: 35px;
    }

    .popup__tiny {
        padding-top: 0;
    }
}